/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.ocr{
  height:5.55rem;
  width: 5.55rem;
  background-image: url("C:\Users\hp\Desktop\onlyGaurav\Infinium\03Task\task3-dividepage-responsive\src\OCR.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* border: 1px solid black; */
  margin-left: 10rem;
}

/* 
<Grid item container sx={{marginLeft:"3%",marginTop:"-5%"}}>
<List>
  <Grid item sx={{display:"flex",marginTop:"3%",marginLeft:"2%"}}>
  <ListItemIcon><CircleIcon sx={{fontSize:"0.25rem",color:"black"}}></CircleIcon></ListItemIcon>
  <ListItemText sx={{marginTop:"-1.65%",marginLeft:"-7.5%"}}
  primary={<Typography variant="h7">Can leverage the existing data to provide a quick ready to use solution</Typography>}
  ></ListItemText>
  </Grid>

  <Grid item sx={{display:"flex",marginTop:"3%",marginLeft:"2%"}}>
  <ListItemIcon><CircleIcon sx={{fontSize:"0.25rem",color:"black"}}></CircleIcon></ListItemIcon>
  <ListItemText sx={{marginTop:"-1.65%",marginLeft:"-7.5%"}}
  primary={<Typography variant="h7">Can identify the orientation of the image and automatically correct it</Typography>}
  ></ListItemText>
  </Grid>

  <Grid item sx={{display:"flex",marginTop:"3%",marginLeft:"2%"}}>
  <ListItemIcon><CircleIcon sx={{fontSize:"0.25rem",color:"black"}}></CircleIcon></ListItemIcon>
  <ListItemText sx={{marginTop:"-1.65%",marginLeft:"-7.5%"}}
  primary={<Typography variant="h7">Can identify the page of interest from numerous passport pages, and <br /> then capture information only from the area of interest</Typography>}
  ></ListItemText>
  </Grid>
  
  <Grid item sx={{display:"flex",marginTop:"3%",marginLeft:"2%"}}>
  <ListItemIcon><CircleIcon sx={{fontSize:"0.25rem",color:"black"}}></CircleIcon></ListItemIcon>
  <ListItemText sx={{marginTop:"-1.65%",marginLeft:"-7.5%"}}
  primary={<Typography variant="h7">Can be integrated seamlessly with their existing database</Typography>}
  ></ListItemText>
  </Grid>

  <Grid item sx={{display:"flex",marginTop:"3%",marginLeft:"2%"}}>
  <ListItemIcon><CircleIcon sx={{fontSize:"0.25rem",color:"black"}}></CircleIcon></ListItemIcon>
  <ListItemText sx={{marginTop:"-1.65%",marginLeft:"-7.5%"}}
  primary={<Typography variant="h7">Can be deployed on premise with docker,flexible to work on local private network and highly secure</Typography>}
  ></ListItemText>

  </Grid>
</List>
</Grid> */